#experience {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.exp__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.details__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
}
.exp__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    background-color: var(--color-bg-variant);
    color: var(--color-primary);
    margin: 0.5rem;
    border-radius: 12px;
    padding: 0.5rem;
}

.exp__container h5 {
    font-size: 0.95rem;
    color: var(--color-white);
}

.exp__container small {
    font-size: 0.7rem;
    color: var(--color-light);
    padding: 0.5rem;
    text-align: center;
}
/*MEDIUM DEVICES*/
@media screen and (max-width: 1024px) {

}
/*SMALL DEVICES*/
@media screen and (max-width: 600px) {

}