#portfolio {
    position: relative;
}
.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1%;
    padding: 1.5%;
    gap: 0.5rem;
}

.portfolio__paralax{
    position: absolute;
    width: 100%;
    height: 98%;
    z-index: -100;
    top: 6%;
    margin: 0.2%;
    border-radius: 12px;
    /* background-image: url(./proj/ar-SdIt2nh8wzk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    opacity: 1;

}

.portfolio__item {
    display:grid;
    gap: 2px;
    background-color:rgba(44, 44, 108, 1);
    border: 1px solid transparent;
    transition: var(--transition);
    height: 60vh;
    border-bottom-right-radius: 15px;
    border-radius: 12px;
}

.portfolio__item-image {
    padding: 0.2%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position:relative;
    border-radius: 12px;
}

.portfolio__image_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.portfolio__details_container{
    position: absolute;
    height: 75%;
    width: 45%;
    background: rgba(44, 44, 108, 0.9);
    margin: 2%;
    border-radius: 12px;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    padding: 2%;
}

.portfolio__headline {
    width: 100%;
    height: 45%;
    padding: 2px;
    display: flex;
    align-items: center;
}

.portfolio__item_details {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    height: 40%;
}

.portfolio__item_details h5 {
    font-weight: 400 !important;
    padding: 2px;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
    height: 5rem;
    background-color:#fdf0d5;
    color: #1f1f38;
    border-radius: 12px;
    cursor: pointer;
}

.portfolio__item-cta:hover {
    background-color: #4db5ff;
    color: #fdf0d5;
    border: 3px solid #1f1f38;
}
/* .btn__livedemo {
    width: 100%;

} */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        width: 100%;
        gap: 0.5rem;
    }
    .portfolio__item {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .portfolio__item-image {
        height: 100%;
    }

    .portfolio__item h3 {
        margin: 1.2rem 0 2rem;
        padding: 2%;
    }
}

/*Media Query (Small Devices)*/

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0.2%;
        width: 98%;
    }
    .portfolio__item {
        display: flex;
        flex-direction: column;
        height: 85vh;
    }
    .portfolio__item-image {
        height: 100%;
    }

    .portfolio__item h3 {
        margin: 1.2rem 0 2rem;
        padding: 2%;
    }
    
}